@charset "utf-8";
/* 代码整理：懒人之家  lanrenzhijia.com */
* {
	margin:0;
	padding:0;
	list-style-type:none;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif;
}
.demo {
	width:960px;
	margin:20px auto 0 auto;
}
#shelf {
	width:900px;
	height:210px;
	background:url("../images/shelf-bg.png") no-repeat scroll 0 -25px transparent;
}
.itemTitle {
	padding-top:30px;
}
/* container */
#container {
	width:850px;
	height:160px;
	margin-left:25px;
}
#container img, #container .item {
	width:100%;
	height:100%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0px 5px 5px #777;
	-webkit-box-shadow:0px 5px 5px #777;
	box-shadow:0px 5px 5px #777;
}
#container .selectedItem {
	-moz-box-shadow:0 4px 10px #0071BC;
	-webkit-box-shadow:0 4px 10px #0071BC;
	box-shadow:0 4px 10px #0071BC;
	border:1px solid #0071BC;
}
#container .item {
	width:160px;
	height:160px;
	left:0px;
}
/* container2 */
#container2 {
	width:850px;
	height:200px;
	margin-left:25px;
}
#container2 img, #container2 .item {
	width:100%;
	height:100%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:0px 5px 5px #777;
	-webkit-box-shadow:0px 5px 5px #777;
	box-shadow:0px 5px 5px #777;
}
/* similarity */		
.similarity {
	bottom:5%;
	position:absolute;
	right:5%;
	font-size:2.5em;
*font-size:1.3em;
	width:1.5em;
	height:1.5em;
	line-height:1.5em;
	text-align:center;
}
.similarity {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#84C440;
	background:-moz-linear-gradient(top, #84C440 0%, #3CB64A 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #84C440), color-stop(100%, #3CB64A));
	-webkit-box-shadow:inset 0px 1px 0px #a1d269;
	-moz-box-shadow:inset 0px 1px 0px #a1d269;
	box-shadow:inset 0px 1px 0px #a1d269;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
	border-color:#8cc63f #6dc043 #359541 #6dc043;
	border-width:1px;
	border-style:solid;
	color:#fff;
	float:left;
	font-size:14px;
	font-weight:bold;
	padding:3px 6px;
}
.similarity:hover {
	background:#bbde51;
	border-color:#bbde51 #bbde51 #9eba45 #bbde51;
	cursor:pointer;
	-webkit-box-shadow:inset 0px 1px 0px #cde671;
	-moz-box-shadow:inset 0px 1px 0px #cde671;
	box-shadow:inset 0px 1px 0px #cde671;
}
/* 代码整理：懒人之家  lanrenzhijia.com */